<html lang='en' xmlns:v='urn:schemas-microsoft-com:vml'>
  <head>
    <meta charset='utf-8' />
    <meta name='x-apple-disable-message-reformatting' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta
      name='format-detection'
      content='telephone=no, date=no, address=no, email=no'
    />
    <meta name='color-scheme' content='light dark' />
    <meta name='supported-color-schemes' content='light dark' />
    <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <style>
    td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
  </style>
  <![endif]-->
    <title>Confirm your email address</title>
    <style>
      .hover-bg-primary-light:hover { background-color: #55f3de !important; }
      .hover-text-decoration-underline:hover { text-decoration: underline; }
      @media (max-width: 600px) { .sm-w-full { width: 100% !important; }
      .sm-py-8 { padding-top: 32px !important; padding-bottom: 32px !important;
      } .sm-px-6 { padding-left: 24px !important; padding-right: 24px
      !important; } .sm-leading-8 { line-height: 32px !important; } }
    </style></head>
  <body
    style='word-break: break-word; -webkit-font-smoothing: antialiased; margin: 0; width: 100%; background-color: #f8fafc; padding: 0'
  >
    <div style='display: none'>
      Please confirm your email address in order to activate your account &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
      &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847; &#847;
    </div>
    <div
      role='article'
      aria-roledescription='email'
      aria-label='Confirm your email address'
      lang='en'
    >
      <table
        style="width: 100%; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif"
        cellpadding='0'
        cellspacing='0'
        role='presentation'
      >
        <tr>
          <td align='center' style='background-color: #f8fafc'>
            <table
              class='sm-w-full'
              style='width: 600px'
              cellpadding='0'
              cellspacing='0'
              role='presentation'
            >
              <tr>
                <td align='center' class='sm-px-6'>
                  <table
                    style='width: 100%'
                    cellpadding='0'
                    cellspacing='0'
                    role='presentation'
                  >
                    <tr>
                      <td
                        class='sm-px-6'
                        style='border-radius: 4px; background-color: #fff; padding: 48px; text-align: left; font-size: 16px; line-height: 24px; color: #334155; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)'
                      >
                        <p>Hello {{username}},</p>

                        <p
                          style='margin: 0; margin-bottom: 24px'
                        >{{description}}</p>
                        <div style='line-height: 100%'>
                          <a
                            href='{{url}}'
                            class='hover-bg-primary-light'
                            style='text-decoration: none; display: inline-block; border-radius: 4px; background-color: #55b9f3; padding-top: 14px; padding-bottom: 14px; padding-left: 16px; padding-right: 16px; text-align: center; font-size: 16px; font-weight: 600; color: #fff'
                          >
                            <!--[if mso]>
                            <i style="mso-font-width: -100%; mso-text-raise: 30px; letter-spacing: 24px">&#8202;</i>
                          <![endif]-->
                            <span
                              style='mso-text-raise: 16px'
                            >{{buttonText}}</span>
                            <!--[if mso]>
                            <i style="mso-font-width: -100%; letter-spacing: 24px">&#8202;</i>
                          <![endif]-->
                          </a>
                        </div>
                        <table
                          style='width: 100%'
                          cellpadding='0'
                          cellspacing='0'
                          role='presentation'
                        >
                          <tr>
                            <td style='padding-top: 32px; padding-bottom: 32px'>
                              <div
                                style='height: 1px; background-color: #e2e8f0; line-height: 1px'
                              >&zwnj;</div>
                            </td>
                          </tr>
                        </table>
                        <p style='margin: 0; margin-bottom: 16px'>If you did not
                          sign up for this App, you can safely ignore this
                          email.</p>
                        <p style='margin: 0; margin-bottom: 16px'>Thanks,
                          <br />{{appName}}
                          Team</p>
                      </td>
                    </tr>
                    <tr>
                      <td style='height: 48px'></td>
                    </tr>
                    <tr>
                      <td
                        style='padding-left: 24px; padding-right: 24px; text-align: center; font-size: 12px; color: #475569'
                      >
                        <p style='margin: 0; font-style: italic'>Send to you
                          from someapp.dev
                        </p>
                        {{! <p style='cursor: default'>
                          <a
                            href='https://github.com/notiz-dev'
                            class='hover-text-decoration-underline'
                            style='text-decoration: none; color: #55b9f3'
                          >GitHub</a>
                          &bull;
                          <a
                            href='https://twitter.com/notiz_dev'
                            class='hover-text-decoration-underline'
                            style='text-decoration: none; color: #55b9f3'
                          >Twitter</a>
                        </p> }}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
