<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    {{message}}
    <div>
      <form style='display:flex;flex-direction:column;max-width:340px;'>
        <label for='password'>Create a password</label>
        <input id='password' name='password' type='password' />
        <label for='confirmPassword'>Confirm password</label>
        <input id='confirmPassword' name='confirmPassword' type='password' />
        <button onclick='savePassword()' type='button'>submit</button>
      </form>
    </div>
    <script src='js/invite.js'></script>
  </body>
</html>
